@media (min-width: 768px) {
    .home-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "hero hero hero"
            "events weather spotlights"
            "spotlights spotlights spotlights";
        gap: 2rem;
    }

    .hero {
        grid-area: hero;
    }

    .events-card {
        grid-area: events;
    }

    .weather-card {
        grid-area: weather;
    }

    .spotlights-container {
        grid-area: spotlights;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .join-grid {
        grid-template-columns: 2fr 1fr; /* 2 partes para el formulario, 1 parte para las tarjetas a la derecha */
        align-items: start;
    }
}