@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        width: auto;
    }

    .menu-items li a {
        padding: 5px 15px;
    }

    #members-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}