@media (min-width: 32.5rem) {
    #menu {
        display: none;
    }

    nav {
        display: block;
        position: static;
        width: auto;
        background: transparent;
    }

    .navigation {
        flex-direction: row;
        gap: 1rem;
    }

    .navigation li a {
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

    #course-container {
        grid-template-columns: repeat(3, 1fr);
    }
}